
// Colors


$white:     #fff !default;
$black:     #000 !default;

$primary:   #dbbe20;
$secondary: #fbfaf8;
$gray:      #262626;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "gray":       $gray
  ),
  $theme-colors
);


//Fonts
//

$font-family-ss:  'Noto Sans SC', sans-serif;
$font-family-cv:    'Sacramento', cursive;
$font-base:       $font-family-ss;
